/* ==UserStyle==
@name         Trello-Persian
@description  Improve Trello UI for Persian users
@namespace    github.com/AmirHosseinKarimi/Persian-Trello
@homepageURL  https://github.com/AmirHosseinKarimi/Persian-Trello
@supportURL   https://github.com/AmirHosseinKarimi/Persian-Trello/issues
@updateURL    https://raw.githubusercontent.com/AmirHosseinKarimi/Persian-Trello/master/persian-trello.user.styl
@version      0.0.8
@author       Amir hossein Hossein Zadeh Karimi <amir.hossein7464@gmail.com> (https://github.com/AmirHosseinKarimi)
@license      MIT
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("trello.com") {
  .list-header-name,
  .list-card-title,
  .mod-card-back-title,
  .description-content .current,
  .card-description,
  .comment-box-input,
  .action-comment,
  .card-label,
  .checklist-item-row,
  .window-module-title h3,
  ._3Ea60-0nkKsQ4D,
  .kbyD4YtX9f__Fj,
  .attachment-thumbnail-name,
  textarea,
  input[type=text]{
      font-family: IRANSans;
      direction: rtl;
      line-height: 1.8;
  }
  
  #clockifySmallButton{
      right: unset !important;
      left: 131px;
      display: none;
  }
  
  .checklist-item:hover #clockifySmallButton {
    display: block;
  }
}
